<div>
    <mat-tab-group>
        <mat-tab label="Search">
            <div class="search-container" (keyup.enter)="searchMovies()">
                <mat-form-field>
                    <!-- <input matInput placeholder="Start typing movie name" [(ngModel)]="simpleSearchObject.s" [matAutocomplete]="auto" (keyup)="searchMovies(false, $event)" (change)="searchMovies(true)"> -->
                    <input matInput placeholder="Search" [formControl]="searchInputControl" [matAutocomplete]="moviesAuto">
                    <mat-autocomplete #moviesAuto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions" [value]="option.Title">
                            {{option.Title}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Year" [(ngModel)]="simpleSearchObject.y" [matAutocomplete]="yearsAuto">
                    <mat-autocomplete #yearsAuto="matAutocomplete">
                        <mat-option *ngFor="let year of years" [value]="year">
                            {{year}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Movie type" [(ngModel)]="simpleSearchObject.type">
                        <mat-option *ngFor="let type of OMDBTypeList" [value]="type">
                            {{type}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-button (click)="searchMovies()">Search</button>
            </div>
            <div class="movies">
                <ng-container *ngFor="let movie of lastSearch?.Search">
                    <movie-container [shortMovie]="movie" (movieClicked)="openMovieInTab($event)"></movie-container>
                </ng-container>
            </div>
            <mat-paginator [length]="lastSearch?.totalResults" [pageSize]="10" (page)="paginatorChanged($event)">

            </mat-paginator>
        </mat-tab>
        <mat-tab *ngFor="let movie of openedMovies | async" label="{{movie.Title}}">
            <ng-template mat-tab-label>
                {{movie.Title}}
                <mat-icon class="tab-label-close-action" (click)="closeMovieTab(movie)">close</mat-icon>
            </ng-template>
            <movie-container [shortMovie]="movie" [extComp]="true"></movie-container>
        </mat-tab>
    </mat-tab-group>
</div>