<div class="movie-container">
    <div class="title">
        <h2 mat-button (click)="openMovie()">{{title}} ({{year}})</h2>
    </div>
    <div class="short" *ngIf="shortMovie && !fullMovie">
        <img src="{{shortMovie.Poster}}">
        <div class="movie-details">
            <span>{{shortMovie.Type}}</span>
        </div>
    </div>
    <div class="full" *ngIf="fullMovie">
        <img src="{{fullMovie.Poster}}">
        <div class="movie-details">
            <span>{{fullMovie.Type}} - {{fullMovie.Runtime}}, {{fullMovie.Rated}}, {{fullMovie.Released}} by {{fullMovie.Production}}</span>
            <span>Genre: {{fullMovie.Genre}}</span>
            <span>Director: {{fullMovie.Director}}</span>
            <span>Writer: {{fullMovie.Writer}}</span>
            <span>Actors: {{fullMovie.Actors}}</span>
            <span>Language: {{fullMovie.Language}}, Country: {{fullMovie.Country}}</span>
            <span>Earnings: {{fullMovie.BoxOffice}}</span>
            <span>Description: {{fullMovie.Plot}}</span>
            <!-- <span>{{fullMovie.Awards}}</span> -->
            <span>Ratings:&nbsp;
                <ng-container *ngFor="let rating of fullMovie.Ratings">
                    {{rating.Source}}: {{rating.Value}}&nbsp;
                </ng-container>
            </span>
            <!-- <span>{{fullMovie.Metascore}}</span> -->
            <!-- <span>{{fullMovie.imdbRating}}</span> -->
            <!-- <span>{{fullMovie.imdbVotes}}</span> -->
            <!-- <span>{{fullMovie.DVD}}</span> -->
            <span></span>
        </div>
    </div>
</div>