
%description {
    display: flex;
}

.movie-container {

    .title {
        margin: 0;
        cursor: pointer;

        :hover {
            border: 1px solid grey;
        }
    }

    .short {
        @extend %description;
    }

    .full {
        @extend %description;
    }

    .movie-details {
        padding-left: 5px;
        display: grid;
    }

    img {
        height: 200px;
    }
}